<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_Z--gjoJLaEZoPQis9jUkfU7yaC-1cM4</string>
	<key>GCM_SENDER_ID</key>
	<string>14964950902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mukshi.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolistswift-5bfe6</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistswift-5bfe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14964950902:ios:b88f662f897eb553e31c57</string>
</dict>
</plist>